---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trillium-next
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      trillium:
        containers:
          app:
            image:
              repository: ghcr.io/triliumnext/notes
              tag: develop
            env:
              TRILIUM_DATA_DIR: &datadir /home/node/trilium-data
              SSO_ENABLED: "true"
              BASE_URL: https://notes.ironstone.casa
            envFrom:
              - secretRef:
                  name: trillium-next
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 500Mi
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8080
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
              startup:
                enabled: false
        pod:
          securityContext:
            seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: trillium
        ports:
          http:
            port: *port

    route:
      app:
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        hostnames: ["{{ .Release.Name }}.ironstone.casa"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - kind: Service
                name: trillium
                namespace: home
                port: 8080
                weight: 1

    persistence:
      data:
        existingClaim: trillium-data
        globalMounts:
          - path: *datadir
