---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
  namespace: database
spec:
  interval: 30m
  chart:
    spec:
      chart: redis
      version: 24.1.3
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 10m
  install:
    remediation:
      retries: 3
  values:
    architecture: standalone
    resources:
      limits:
        cpu: 100m
        memory: 64Mi
      requests:
        cpu: 100m
        memory: 64Mi

    auth:
      enabled: false

    master:
      persistence:
        enabled: false

    replica:
      replicaCount: 1
      persistence:
        enabled: false
# networkPolicy:
#   enabled: false # TODO: enable this
#   ingressNSMatchLabels:
#     redis: external
#   ingressNSPodMatchLabels:
#     redis-client: true
