---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dex
  namespace: authentication
spec:
  releaseName: dex
  interval: 10m
  chart:
    spec:
      chart: dex
      version: 0.23.0
      sourceRef:
        kind: HelmRepository
        name: dex
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    annotations:
      reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/dexidp/dex
      tag: v2.42.1@sha256:8186d6dd81f400bf0424a4c978c8217736822fcbdf65ba454d025fbf2c0ff300

    ingress:
      enabled: true
      className: external
      annotations:
        external-dns.alpha.kubernetes.io/target: external.damacus.io
      hosts:
        - host: "dex.damacus.io"
          paths:
            - path: /
              pathType: Prefix

    resources:
      requests:
        cpu: 100m
        memory: 100Mi
      limits:
        cpu: 100m
        memory: 100Mi

    config:
      issuer: https://dex.damacus.io

      storage:
        type: kubernetes
        config:
          inCluster: true

      frontend:
        theme: tectonic
        issuer: Ironstone
        issuerUrl: https://damacus.io
        logoUrl: https://imgur.com/Idzzln9.png

      expiry:
        signingKeys: 6h
        idTokens: 24h

      logger:
        level: debug
        format: json

      oauth2:
        responseTypes: ["code", "token", "id_token"]
        skipApprovalScreen: true

      staticClients:
        - name: grafana
          id: grafana
          secret: grafana-client
          redirectURIs:
            - "https://grafana.ironstone.casa/oauth2/callback"
            - "https://grafana.ironstone.casa/login/generic_oauth"

        - name: paperless
          id: paperless
          secret: paperless-client
          redirectURIs:
            - "https://paperless.ironstone.casa/oauth2/callback"
            - "https://paperless.ironstone.casa/accounts/oidc/dex/login/callback/"

        - name: minio
          id: minio
          secret: minio-client
          redirectURIs:
            - "https://minio.ironstone.casa/oauth_callback"

        - name: mealie
          id: mealie
          # secret: mealie-client
          public: true
          redirectURIs:
            - "https://mealie.ironstone.casa/login"
            - "https://mealie.ironstone.casa/login?direct=1"
            - "https://mealie.ironstone.casa/api/auth/oauth/callback"

  valuesFrom:
    - kind: Secret
      name: dex-connectors
      valuesKey: values.yaml
