---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rustfs
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      main:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rustfs/rustfs
              tag: 1.0.0-alpha.76
            env:
              TZ: "${TZ}"
              # RustFS runs as non-root user 10001
            envFrom:
              - secretRef:
                  name: rustfs-secret
            args: ["server", "/data", "--console-address", ":9001"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: 9000
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness: *probes
            securityContext:
              runAsUser: 10001
              runAsGroup: 10001
              runAsNonRoot: true
            resources:
              requests:
                memory: 512Mi
                cpu: 200m
              limits:
                memory: 2Gi

    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.1.229
        ports:
          http:
            port: 9001
          api:
            port: 9000

    route:
      console:
        hostnames: ["rustfs.ironstone.casa"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: rustfs
                port: 9001
      s3:
        hostnames: ["rustfs-s3.ironstone.casa"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: s3
        rules:
          - backendRefs:
              - name: rustfs
                port: 9000

    serviceMonitor:
      main:
        serviceName: rustfs
        enabled: true
        endpoints:
          - port: api
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
            scrapeTimeout: 10s

    persistence:
      rustfs-data:
        existingClaim: rustfs-data
        globalMounts:
          - path: /data
