# yaml-language-server: $schema=https://demo.frigate.video/api/config/schema.json
---
logger:
  default: info

mqtt:
  host: mosquitto.home-automataion.svc.cluster.local
  topic_prefix: frigate

database:
  path: /data/frigate.db

detectors:
  rknn:
    type: rknn
    num_cores: 3

model:
  path: frigate-fp16-yolov9-t
  model_type: yolo-generic
  width: 320
  height: 320
  input_tensor: nhwc
  labelmap_path: /labelmap/coco-80.txt

# https://docs.frigate.video/configuration/hardware_acceleration_video#rockchip-platform
ffmpeg:
  path: "7.0"
  hwaccel_args: preset-rkmpp

record:
  enabled: true
  retain:
    days: 7
    mode: motion

snapshots:
  enabled: true
  retain:
    default: 30

objects:
  track: ["bird"]

go2rtc:
  streams:
    birdy: rtsp://192.168.1.180:8554/main

cameras:
  birdy:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.1.180:8554/main
          input_args: preset-rtsp-generic
          roles:
            - record
            - audio
        - path: rtsp://192.168.1.180:8554/sub
          input_args: preset-rtsp-generic
          roles:
            - detect
    detect:
      width: 640
      height: 480
      fps: 5
