---
fail_fast: false
files: ^kubernetes/
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - args:
          - --config-file
          - .yamllint.yaml
          - --strict
        id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: remove-tabs
  - repo: https://github.com/k8s-at-home/sops-pre-commit
    rev: v2.1.1
    hooks:
      - id: forbid-secrets
  - repo: local
    hooks:
      - id: flux-local-test
        name: flux-local test
        entry: bash scripts/flux-local-container.sh test --enable-helm --api-versions "policy/v1/PodDisruptionBudget,monitoring.coreos.com/v1/ServiceMonitor,monitoring.coreos.com/v1/PodMonitor,monitoring.coreos.com/v1/PrometheusRule" --path ./kubernetes
        language: system
        pass_filenames: false
        files: ^kubernetes/
        stages: [commit]
