---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: victoria-metrics
  namespace: monitoring
spec:
  parentRefs:
    - name: traefik-internal
      namespace: network
      sectionName: websecure
  hostnames:
    - metrics.ironstone.casa
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: vmsingle-vm
          port: 8428
