---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret grafana-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *secret
    template:
      engineVersion: v2
      data:
        admin-user: "admin"
        admin-password: "{{ .password }}"
  dataFrom:
    - extract:
        key: grafana
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &client grafana-client
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *client
    template:
      data:
        GRAFANA_CLIENT_ID: "grafana"
        GRAFANA_CLIENT_SECRET: "{{ .grafana_client_secret }}"
  dataFrom:
    - extract:
        key: dex-grafana
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: zitadel-grafana-oidc
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: zitadel-grafana-oidc
    template:
      engineVersion: v2
      type: Opaque
      data:
        GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "{{ .client_id }}"
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ .client_secret }}"
  dataFrom:
    - extract:
        key: zitadel-grafana-oidc
