---
kubernetes:
  vars:
    ansible_user: pi
    ansible_ssh_port: 22
  children:
    controllers:
      hosts:
        yellow-pi:
          ansible_host: 192.168.1.103
        # blue-pi:
        #   ansible_host: 192.168.1.104
        # purple-pi:
        #   ansible_host: 192.168.1.105
    workers:
      hosts:
        orange-pi:
          ansible_host: 192.168.1.241
