---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie-client
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: mealie-client
    template:
      data:
        client-id: "mealie"
        client-secret: "{{ .client_secret }}"
  dataFrom:
    - extract:
        key: mealie
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-client
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: grafana-client
    template:
      data:
        client-id: "grafana"
        client-secret: "{{ .grafana_client_secret }}"
  dataFrom:
    - extract:
        key: dex-grafana
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: penpot-client
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: penpot-client
    template:
      data:
        client-id: "penpot"
        client-secret: "{{ .oidc_client_secret }}"
  dataFrom:
    - extract:
        key: penpot
