---
apiVersion: v1
kind: Service
metadata:
  name: &app unas
  namespace: network
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  type: ExternalName
  externalName: unas.ironstone.casa
  ports:
    - name: http
      port: 443
      protocol: TCP
      targetPort: 443
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: &app unas
  namespace: network
  annotations:
    external-dns.alpha.kubernetes.io/target: 192.168.1.243
spec:
  ingressClassName: internal
  rules:
    - host: unas.ironstone.casa
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: *app
                port:
                  number: 443
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: &app drive
  namespace: network
  annotations:
    external-dns.alpha.kubernetes.io/target: 192.168.1.243
spec:
  ingressClassName: internal
  rules:
    - host: drive.ironstone.casa
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: *app
                port:
                  number: 443
