# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/externaldns.k8s.io/dnsendpoint_v1alpha1.json
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: internal
  namespace: network
spec:
  endpoints:
    - dnsName: "internal.ironstone.casa"
      recordType: A
      targets: ["192.168.1.224"]
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: internal-gateway
  namespace: network
spec:
  endpoints:
    - dnsName: "gateway.ironstone.casa"
      recordType: A
      targets: ["192.168.1.224"]
