---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name mealie
  namespace: home
spec:
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    name: postgresql
    major: 16
  instances: 2
  primaryUpdateStrategy: unsupervised
  storage:
    size: 5Gi
    storageClass: openebs-hostpath

  monitoring:
    enablePodMonitor: true

  bootstrap:
    initdb:
      database: *name
      owner: *name
      secret:
        name: mealie-db

  enableSuperuserAccess: true
  superuserSecret:
    name: mealie-db-superuser

  postgresql:
    parameters:
      max_connections: "100"
      shared_buffers: 128MB

  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 2
      destinationPath: s3://cnpg-backups/mealie
      endpointURL: http://minio.storage.svc.cluster.local:9000
      serverName: mealie
      s3Credentials:
        accessKeyId:
          name: minio-cnpg
          key: aws-access-key-id
        secretAccessKey:
          name: minio-cnpg
          key: aws-secret-access-key

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 2000m
      memory: 512Mi
