---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.11.3@sha256:30bad73e428977025d5e023a646c24ad3c02da6adb4fbbeb5bd27b829bedf022

            securityContext:
              runAsNonRoot: false
              readOnlyRootFilesystem: false
              capabilities:
                add: [NET_ADMIN, NET_RAW]

            env:
              ESPHOME__INSTANCE_NAME: esphome
              TZ: Europe/London

            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                cpu: 3000m
                memory: 1Gi
        pod:
          hostNetwork: true
          dnsPolicy: ClusterFirstWithHostNet

    service:
      app:
        controller: esphome
        annotations:
          io.cilium/lb-ipam-ips: "192.168.1.227"
        type: LoadBalancer
        ports:
          http:
            port: 6052

    ingress:
      app:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: 192.168.1.224
        hosts:
          - host: esphome.ironstone.casa
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      cache:
        existingClaim: esphome-cache
        globalMounts:
          - path: /cache

      config:
        existingClaim: esphome-config
        globalMounts:
          - path: /config
