---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  repo: https://helm.cilium.io/
  chart: cilium
  # renovate: depName=cilium datasource=helm repository=https://helm.cilium.io
  version: 1.17.1
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    autoDirectNodeRoutes: true

    bandwidthManager:
      bbr: true
      enabled: true

    bpf:
      masquerade: true

    bgpControlPlane:
      enabled: true

    cluster:
      id: 1
      name: ironstone

    dashboards:
      annotations:
        grafana_folder: Cilium
      enabled: true

    endpointRoutes:
      enabled: true

    gatewayAPI:
      enableAlpn: true
      enableAppProtocol: true
      enabled: true
      gatewayClass:
        create: "true"
      xffNumTrustedHops: 1

    hubble:
      enabled: false
      metrics:
        enabled:
          - dns:query;ignoreAAAA
          - drop
          - flow
          - http
          - icmp
          - port-distribution
          - tcp
      relay:
        enabled: false
        rollOutPods: true
      serviceMonitor:
        enabled: false
      ui:
        enabled: false
        ingress:
          enabled: false
        rollOutPods: true

    ipam:
      mode: kubernetes

    ipv4NativeRoutingCIDR: "${CLUSTER_CIDR}"
    k8sServiceHost: "192.168.1.220"
    k8sServicePort: 6443

    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    l2announcements:
      enabled: true

    loadBalancer:
      algorithm: maglev
      mode: snat

    localRedirectPolicy: true

    operator:
      dashboards:
        annotations:
          grafana_folder: Cilium
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      rollOutPods: true

    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true

    rollOutCiliumPods: true

    routingMode: native

    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - DAC_OVERRIDE
          - FOWNER
          - IPC_LOCK
          - KILL
          - NET_ADMIN
          - NET_RAW
          - SETGID
          - SETUID
          - SYS_ADMIN
          - SYS_RESOURCE
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
