---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: depName=rancher/system-upgrade-controller datasource=github-releases
  - https://github.com/rancher/system-upgrade-controller/releases/download/v0.14.2/crd.yaml
  - helmrelease.yaml
  - rbac.yaml

configMapGenerator:
  - name: system-upgrade-controller-configmap
    files: [values.yaml=config/values.yaml]

generatorOptions:
  disableNameSuffixHash: true
