---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-openwakeword
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      openwakeword:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-openwakeword
              tag: 2.1.0@sha256:52cb1168731a1849fc28cf339c935fde58746bbabc94226668a40ef6ddf5d42b

            env:
              TZ: Europe/London

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false

            resources:
              requests:
                cpu: 250m
                memory: 1Gi
              limits:
                cpu: 2000m
                memory: 2Gi

    service:
      app:
        controller: openwakeword
        type: LoadBalancer
        loadBalancerIP: "192.168.1.233"
        ports:
          whisper:
            enabled: true
            primary: true
            port: 10400
            protocol: TCP

    persistence:
      data:
        enabled: true
        globalMounts:
          - path: /data
        size: 1Gi
        accessMode: "ReadWriteMany"

    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: node-role.kubernetes.io/master=true
                  operator: Exists
                  values: ["true"]
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - "rocky"
