---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./unifi-release-announcer/ks.yaml
  - ./matchbox/ks.yaml
