---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-nfs-csi-ssd
  namespace: home-automation
spec:
  accessModes: [ReadWriteMany]
  resources:
    requests:
      storage: 50Gi
  storageClassName: nfs-csi-ssd
