---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-nfs-csi-ssd
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: nfs-csi-ssd
  volumeName: pvc-09d900c2-8ce5-4566-b8a6-d1d26a5516c5
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: home-assistant-smb-ssd
#   namespace: home-automation
# spec:
#   accessModes: ["ReadWriteMany"]
#   resources:
#     requests:
#       storage: 50Gi
#   storageClassName: smb-ssd
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: home-assistant-nfs-csi-hdd
#   namespace: home-automation
# spec:
#   accessModes: ["ReadWriteMany"]
#   resources:
#     requests:
#       storage: 50Gi
#   storageClassName: nfs-csi-unas

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pvc-09d900c2-8ce5-4566-b8a6-d1d26a5516c5
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-csi-ssd
  mountOptions:
    - hard
    - nolock
    - nfsvers=3
  csi:
    driver: nfs.csi.k8s.io
    volumeHandle: unas.ironstone.casa#var/nfs/shared/csi_ssd#pvc-09d900c2-8ce5-4566-b8a6-d1d26a5516c5
  volumeAttributes:
    server: unas.ironstone.casa
    share: /var/nfs/shared/csi_ssd
