---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
  namespace: storage
spec:
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  chart:
    spec:
      chart: csi-driver-nfs
      # renovate: datasource=github-releases repos=kubernetes-csi/csi-driver-nfs
      version: 4.13.0
      sourceRef:
        kind: HelmRepository
        name: csi-driver-nfs
        namespace: flux-system
  values:
    controller:
      replicas: 2
    externalSnapshotter.enabled: true
    controller.runOnControlPlane: true
    enableFSGroupPolicy: true
