---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-smb
  namespace: storage
spec:
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  chart:
    spec:
      chart: csi-driver-smb
      # renovate: datasource=github-releases repos=kubernetes-csi/csi-driver-smb
      version: 1.20.0
      sourceRef:
        kind: HelmRepository
        name: csi-driver-smb
        namespace: flux-system
  values:
    controller:
      replicas: 1
    windows:
      enabled: false
