---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-client
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: paperless-client
    template:
      data:
        client-id: "paperless"
        client-secret: "{{ .client_secret }}"
  dataFrom:
    - extract:
        key: zitadel-oidc-paperless
