---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-data-ssd
  namespace: home-automation
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 100Gi
  storageClassName: nfs-csi-ssd
