---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    name: postgresql
    major: 16
  instances: 2
  primaryUpdateStrategy: unsupervised
  enablePDB: true

  monitoring:
    enablePodMonitor: true

  storage:
    size: 20Gi
    storageClass: openebs-hostpath

  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg-secret

  postgresql:
    parameters:
      max_connections: "400"
      shared_buffers: 256MB
      effective_io_concurrency: "200"
      maintenance_work_mem: 256MB

  resources:
    requests:
      cpu: 50m
      memory: 400Mi
    limits:
      memory: 2Gi
      cpu: 3000m

  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      destinationPath: s3://cloudnative-pg/
      endpointURL: https://eeded8796e30bfe7b412cd59df29bb34.r2.cloudflarestorage.com
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 8
      s3Credentials:
        accessKeyId:
          name: r2-cloudnative-pg
          key: aws-access-key-id
        secretAccessKey:
          name: r2-cloudnative-pg
          key: aws-secret-access-key
