---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/postgresql.cnpg.io/scheduledbackup_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: home-assistant-db
spec:
  schedule: "0 1,23 * * *"
  immediate: true
  backupOwnerReference: self
  cluster:
    name: home-assistant
