---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-whisper
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      whisper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 3.0.2@sha256:995b37523bc422f4f7649e50ccded97a5b9bf6d1d0420591183a778dd5d7d3f2
            args:
              - --model
              - Systran/faster-distil-whisper-small.en
              - --language
              - en
              - --data-dir
              - /data
            env:
              TZ: Europe/London

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false

            resources:
              requests:
                cpu: 250m
                memory: 1Gi
              limits:
                cpu: 2000m
                memory: 3Gi

        pod:
          securityContext:
            runAsUser: 1030
            runAsGroup: 1030
            runAsNonRoot: true
            fsGroup: 1030
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [100]

    service:
      app:
        controller: whisper
        type: LoadBalancer
        loadBalancerIP: "192.168.1.232"
        ports:
          whisper:
            enabled: true
            primary: true
            port: 10300
            protocol: TCP

    persistence:
      models:
        existingClaim: whisper-models
        globalMounts:
          - path: /data

    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - "rocky"
      # Prefer to avoid home-assistant pods (soft anti-affinity)
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["home-assistant"]
              topologyKey: kubernetes.io/hostname
