---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  CLUSTER_CIDR: "10.69.0.0/16"
  # KUBE_VIP_ADDR: "192.168.1.220"
  NGINX_INTERNAL_ADDR: "192.168.3.11"
  NGINX_EXTERNAL_ADDR: "192.168.3.19"
