---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-release-announcer
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        containers:
          app:
            image:
              repository: ghcr.io/damacus/unifi-release-announcer
              tag: 0.1.8@sha256:7d4b3f0c4634fa1b1bb39fde81ada5c42f1aa191b884da10b428ebc9437ccbf5
            env:
              - name: TAGS
                value: "unifi-drive,unifi-network,unifi-protect"
              - name: DISCORD_BOT_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: unifi-release-announcer
                    key: DISCORD_BOT_TOKEN
              - name: DISCORD_CHANNEL_ID
                valueFrom:
                  secretKeyRef:
                    name: unifi-release-announcer
                    key: DISCORD_CHANNEL_ID
            resources:
              requests:
                cpu: 10m
                memory: 100M
              limits:
                cpu: 1000m
                memory: 100M

    persistence:
      cache:
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /cache
        size: 10m
