---
originRequest:
  originServerName: "gateway.damacus.io"

ingress:
  - hostname: "*.damacus.io"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - service: http_status:404
