---
originRequest:
  originServerName: "external.damacus.io"

ingress:
  - hostname: "damacus.io"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "external.damacus.io"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.damacus.io"
