---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name loki-s3
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        values.yaml: |
          loki:
            storage:
              s3:
                accessKeyId: "{{ .username }}"
                secretAccessKey: "{{ .password }}"
  dataFrom:
    - extract:
        key: minio
