---
apiVersion: cilium.io/v2
kind: CiliumEnvoyConfig
metadata:
  name: hass-websocket-patch
  namespace: home-automation
spec:
  services:
    - name: home-assistant
      namespace: home-automation
  resources:
    - "@type": type.googleapis.com/envoy.config.listener.v3.Listener
      name: listener
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
        http2_protocol_options:
          allow_connect: true
        common_http_protocol_options:
          idle_timeout: 3600s
        upgrade_configs:
          - upgrade_type: websocket
