version: "3.8"

services:
  packer-build:
    image: ghcr.io/michalfita/packer-plugin-cross:${PACKER_CROSS_VERSION:-latest}
    privileged: true
    working_dir: /workspace/provisioning/packer
    volumes:
      - .:/workspace/provisioning
      - /dev:/dev
    environment:
      - TARGET_BOARD
      - IMAGE_TYPE
      - ARTIFACT_NAME
      - NFS_SERVER
      - NFS_SHARE
      - CLOUD_INIT_URL
      - K3S_VIP
      - K3S_VERSION
    command:
      - build
      - -color=false
      - -var
      - target_board=${TARGET_BOARD}
      - -var
      - image_type=${IMAGE_TYPE}
      - -var
      - artifact_name=${ARTIFACT_NAME}
      - ironstone.pkr.hcl
