---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-piper
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      piper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: 2.2.0@sha256:5d348bcab94a77f79fd8fba0467d44fe1c9f5157d51243f57847b34e63801907

            args:
              - --voice
              - en_GB-northern_english_male-medium

            env:
              TZ: Europe/London

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false

            resources:
              requests:
                cpu: 250m
                memory: 1Gi
              limits:
                cpu: 2000m
                memory: 2Gi

    service:
      app:
        controller: piper
        type: LoadBalancer
        loadBalancerIP: "192.168.1.231"
        ports:
          whisper:
            enabled: true
            primary: true
            port: 10200
            protocol: TCP

    persistence:
      data:
        enabled: true
        globalMounts:
          - path: /data
        size: 15Gi
        accessMode: "ReadWriteMany"

    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
                - key: rockchip.feature.node.kubernetes.io/rk3588-npu
                  operator: In
                  values:
                    - "true"
      # Prefer to avoid home-assistant pods (soft anti-affinity)
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["home-assistant"]
              topologyKey: kubernetes.io/hostname
