---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.6.0/charts/other/app-template/values.schema.json
controllers:
  one-password:
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: docker.io/1password/connect-api
          tag: 1.8.1@sha256:8fe7bcd50c9e73899e0a1aa5aa43421ca75fbceacb33dd07f6418c4116e637a1
        env:
          XDG_DATA_HOME: &configDir /config
          OP_HTTP_PORT: &apiPort 80
          OP_BUS_PORT: 11220
          OP_BUS_PEERS: localhost:11221
          OP_SESSION:
            valueFrom:
              secretKeyRef:
                name: onepassword-connect-secret
                key: 1password-credentials.json
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /heartbeat
                port: *apiPort
              initialDelaySeconds: 15
              periodSeconds: 30
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *apiPort
              initialDelaySeconds: 15
          startup:
            enabled: false
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources: &resources
          requests:
            cpu: 10m
          limits:
            memory: 256M
      sync:
        image:
          repository: docker.io/1password/connect-sync
          tag: 1.8.1@sha256:d5e937b2b7e314dbbaffacf469dc8f30376b5954a3ad836c8d96e6cb579d7fab
        env:
          XDG_DATA_HOME: *configDir
          OP_HTTP_PORT: &syncPort 8081
          OP_BUS_PORT: 11221
          OP_BUS_PEERS: localhost:11220
          OP_SESSION:
            valueFrom:
              secretKeyRef:
                name: onepassword-connect-secret
                key: 1password-credentials.json
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /heartbeat
                port: *syncPort
              initialDelaySeconds: 15
              periodSeconds: 30
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *syncPort
              initialDelaySeconds: 15
          startup:
            enabled: false

    pod:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        runAsNonRoot: true
        fsGroup: 999
        fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: one-password
    ports:
      http:
        port: *apiPort

ingress:
  app:
    className: internal
    annotations:
      external-dns.alpha.kubernetes.io/target: 192.168.1.224
    hosts:
      - host: "{{ .Release.Name }}.ironstone.casa"
        paths:
          - path: /
            service:
              identifier: app
              port: http

persistence:
  config:
    type: emptyDir
    globalMounts:
      - path: *configDir
