[Unit]
Description=Ironstone First-Boot Hostname Setup
DefaultDependencies=no
Before=cloud-init-local.service cloud-init.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ironstone-init.sh
RemainAfterExit=yes
TimeoutStartSec=10

[Install]
WantedBy=cloud-init-local.service
