#cloud-config

output:
  all: "| tee -a /var/log/cloud-init-output.log"
final_message: "cloud-init finished"

preserve_hostname: false
manage_etc_hosts: true
timezone: Europe/London
locale: en_GB.UTF-8

ssh_pwauth: false
disable_root: true

users:
  - name: pi
    gecos: Ironstone Admin
    groups: [adm, sudo]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_import_id:
      - gh:damacus

write_files:
  - path: /etc/ironstone/vm-test-vars
    owner: root:root
    permissions: '0644'
    content: |
      K3S_VIP=__K3S_VIP__
      NFS_SERVER=__NFS_SERVER__
      NFS_SHARE=__NFS_SHARE__

package_update: true
package_upgrade: false

packages:
  - curl
  - nfs-common

runcmd:
  - install -d -o pi -g pi /home/pi/logs
  - echo "vm cloud-init ok" > /home/pi/logs/vm-cloud-init-ok
  - chown -R pi:pi /home/pi/logs
