---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux & Kubeconform"

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
      - name: Run yamllint
        uses: actionshub/yamllint@main

  kubeconform:
    name: Kubeconform
    needs: yaml-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Workflow Tools
        run: brew install fluxcd/tap/flux kubeconform kustomize

      - name: Run kubeconform
        shell: bash
        run: bash ./scripts/kubeconform.sh ./kubernetes

  flux-test:
    name: Flux Local Test
    needs: [yaml-lint, kubeconform]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Checkout Default Branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2.7.5

      - uses: allenporter/flux-local/action/test@d4ebcae7ae08c8c8b8b7c1f515cf86759f9ca950 # 8.1.0
        id: test
        with:
          path: ./kubernetes
          enable-helm: true
          debug: false
          api-versions: policy/v1/PodDisruptionBudget,monitoring.coreos.com/v1,monitoring.coreos.com/v1/ServiceMonitor,monitoring.coreos.com/v1/PodMonitor,monitoring.coreos.com/v1/PrometheusRule

  flux-diff:
    name: Flux Local Diff
    needs: [yaml-lint, kubeconform]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    strategy:
      matrix:
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Checkout Default Branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2.7.5

      - uses: allenporter/flux-local/action/diff@d4ebcae7ae08c8c8b8b7c1f515cf86759f9ca950 # 8.1.0
        id: diff
        with:
          live-branch: main
          path: ./kubernetes
          resource: ${{ matrix.resource }}
          debug: false

      - name: PR Comments (${{matrix.resource}})
        uses: mshick/add-pr-comment@v2
        if: ${{ steps.diff.outputs.diff != '' }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-failure: Unable to post diff for helmrelease
          message: |
            `````diff
            ${{ steps.diff.outputs.diff }}
            `

  flux-diff-success:
    if: ${{ always() }}
    needs: ["flux-diff", "flux-test"]
    name: Flux Local Successful
    runs-on: ubuntu-latest
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        name: Check matrix status
        run: exit 1
