---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux & Kubeconform"

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 1
      - name: Run yamllint
        uses: actionshub/yamllint@main

  kubeconform:
    name: Kubeconform
    needs: yaml-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Workflow Tools
        run: brew install fluxcd/tap/flux kubeconform kustomize

      - name: Run kubeconform
        shell: bash
        run: bash ./scripts/kubeconform.sh ./kubernetes

  flux-test:
    name: Flux Local Test
    needs: [yaml-lint, kubeconform]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Checkout Default Branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@06ed49dcd3f3ce2fc8d1988848245873a91550bc # v2.7.4

      - uses: allenporter/flux-local/action/test@3cf5a0ae2e9bb0fb6c1f5979e34dd5f892286f64 # 8.0.1
        id: test
        with:
          path: ./kubernetes
          enable-helm: true
          debug: false

  flux-diff:
    name: Flux Local Diff
    needs: [yaml-lint, kubeconform]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    strategy:
      matrix:
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Checkout Default Branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@06ed49dcd3f3ce2fc8d1988848245873a91550bc # v2.7.4

      - uses: allenporter/flux-local/action/diff@3cf5a0ae2e9bb0fb6c1f5979e34dd5f892286f64 # 8.0.1
        id: diff
        with:
          live-branch: main
          path: ./kubernetes
          resource: ${{ matrix.resource }}
          debug: false

      - name: PR Comments (${{matrix.resource}})
        uses: mshick/add-pr-comment@v2
        if: ${{ steps.diff.outputs.diff != '' }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-failure: Unable to post diff for helmrelease
          message: |
            `````diff
            ${{ steps.diff.outputs.diff }}
            `

  flux-diff-success:
    if: ${{ always() }}
    needs: ["flux-diff", "flux-test"]
    name: Flux Local Successful
    runs-on: ubuntu-latest
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        name: Check matrix status
        run: exit 1
