---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./csi-driver-nfs/ks.yaml
  - ./csi-driver-smb/ks.yaml
  - ./longhorn/ks.yaml
  - ./minio/ks.yaml
